<div style="width: 40%; margin: auto; margin-top: 100px;">
<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label"><b>User ID</b></label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
  </div>
  <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label"><b>Password</b></label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
  </div>

  <div class="mb-3">
    <button class="btn btn-primary">Submit</button>&nbsp;
    <button class="btn btn-primary">Cancel</button>
  </div>
  
</div>